---
import { Button } from "@/components/ui/button";
import Layout from "@/layouts/Layout.astro";
---

<Layout>
  <h1 class="text-red-500 text-3xl font-secondary">Bussiness Coach Training</h1>
  <Button variant="accent">Click me</Button>
</Layout>