---
import { Image } from "astro:assets";
import bannerImg from "@/assets/restoreStaffs.png";
import WavesPattern from "@/assets/waves-pattern.png";
import Link from "./Link.astro";
import RegisterDialog from "./RegisterDialog";
import { cn } from "@/lib/utils";
import { buttonVariants } from "./ui/button";
---

<div class="module-m container mt-14 md:mt-20 lg:mt-24">
  <div class="grid items-center gap-12 md:flex md:gap-16 lg:gap-32">
    <div class="flex-1">
      <h1 class="relative">
        Lifestyle Coaching Can <span
          class="marker-underline font-secondary text-primary"
          >Change Lives</span
        >
      </h1>
      <p class="pt-6 text-sm leading-relaxed text-text">
        Lifestyle coaches are caring individuals who guide and educate their
        clients to discover a healthier lifestyle. By joining our training, you
        can gain confidence to help people reverse or reduce conditions like
        diabetes, hypertension and obesity.
      </p>
      <div class="flex gap-4 pt-8">
        <Link href="/#coaching-solutions" asButton={{ variant: "outline" }}
          >Learn More</Link
        >
        <RegisterDialog
          btnText="Apply Now"
          client:only="react"
          triggerClassname={cn(
            buttonVariants({ variant: "accent" }),
            "border-0",
          )}
        />
      </div>
    </div>
    <div
      class="relative max-h-[400px] flex-1 overflow-hidden rounded-3xl md:max-h-[600px]"
    >
      <Image
        src={WavesPattern}
        alt="banner"
        class="absolute aspect-square h-full"
        loading={"eager"}
      />
      <Image
        src={bannerImg}
        alt="banner"
        class="relative z-10 h-full w-full object-contain object-bottom pt-7"
        loading={"eager"}
      />
    </div>
  </div>
</div>
