---
import { Image } from "astro:assets"
import bannerImg from "@/assets/restoreStaffs.png"
import WavesPattern from "@/assets/waves-pattern.png"
import Link from "./Link.astro"
---

<div class="container module-m">
  <div class="flex items-center gap-32">
    <div class="flex-1">
      <h1 class="relative">
        Lifestyle Coaching Can <span
          class="font-secondary text-primary marker-underline"
          >Change Lives</span
        >
      </h1>
      <p class="pt-6 text-sm text-text leading-relaxed">
        Lifestyle coaches are caring individuals who guide and educate their
        clients to discover a healthier lifestyle. By joining our training, you
        can gain confidence to help people reverse or reduce conditions like
        diabetes, hypertension and obesity.
      </p>
      <div class="flex pt-8 gap-4">
        <Link href="/" asButton={{ variant: "accent" }}>Learn More</Link>
        <Link href={"/"} asButton={{ variant: "outline" }}>Apply Now</Link>
      </div>
    </div>
    <div class="relative flex-1 rounded-3xl overflow-hidden">
      <Image src={WavesPattern} alt="banner" class="absolute h-full" />
      <Image
        src={bannerImg}
        alt="banner"
        class="w-full h-full relative z-10 pt-7 object-contain"
      />
    </div>
  </div>
</div>
