---
import type { ImageMetadata } from "astro"
import { Image } from "astro:assets"

interface Props {
  title: string
  body: string
  icon: ImageMetadata
}

const { title, body, icon } = Astro.props
---

<div class="p-7 bg-background shadow-sm rounded-xl">
  <div class="flex flex-col gap-6">
    <div class="size-20 rounded-full bg-background-tertiary p-4">
      <Image src={icon} alt="icon" class="w-full h-full" />
      <icon></icon>
    </div>
    <div class="flex-1">
      <h2 class="text-heading font-secondary text-xl tracking-wide">
        {title}
      </h2>
      <p class="pt-3">
        {body}
      </p>
    </div>
  </div>
</div>
