---
import Card from "./Card.astro";
import HealthyLifestyleIcon from "@/assets/healthy-lifestyle.svg";
import LeafIcon from "@/assets/leaf.svg";
import PrayerIcon from "@/assets/prayer.svg";
import HealthIcon from "@/assets/health.svg";
import DartIcon from "@/assets/dart.svg";
import FamilyPracticeIcon from "@/assets/family-practice.svg";

const cardData = [
  {
    title: "Lifestyle Diseases",
    body: "Learn to prevent and reverse chronic conditions like diabetes and obesity. Identify causes, recognize symptoms, and implement effective lifestyle interventions.",
    icon: HealthyLifestyleIcon,
  },
  {
    title: "Natural Remedies",
    body: "Explore nature's pharmacy with hands-on experience in hydrotherapy, herbal treatments, and therapeutic massage techniques for healing and wellness.",
    icon: LeafIcon,
  },
  {
    title: "Spiritual Growth",
    body: "Connect faith and health. Address physical, emotional, and spiritual well-being. Integrate spiritual principles into a holistic healing approach.",
    icon: PrayerIcon,
  },
  {
    title: "Health Outreach",
    body: "Become a community wellness catalyst. Organize health camps, conduct surveys, and develop education programs to inspire healthier lifestyles.",
    icon: HealthIcon,
  },
  {
    title: "Practical Skills",
    body: "Develop a health coaching toolkit. Learn anatomy, physiology, nutrition, and cooking to guide clients towards optimal health with confidence.",
    icon: DartIcon,
  },
  {
    title: "Client Care",
    body: "Master compassionate coaching. Conduct lifestyle assessments, set goals, and provide support. Develop skills to motivate lasting change in clients.",
    icon: FamilyPracticeIcon,
  },
];
---

<div class="module-p bg-background-secondary">
  <div class="container">
    <h2 class="text-center">
      Our Coaching <span class="marker-underline font-secondary text-primary"
        >Solutions</span
      >
    </h2>
    <div
      class="grid grid-cols-1 gap-6 pt-10 md:grid-cols-2 md:gap-8 md:pt-12 lg:grid-cols-3 lg:pt-16"
    >
      {
        cardData.map((card) => (
          <Card title={card.title} body={card.body} icon={card.icon} />
        ))
      }
    </div>
  </div>
</div>
