---
import { cn } from "@/lib/utils"
import { buttonVariants } from "./ui/button"
import { Image } from "astro:assets"
import logo from "@/assets/restore.webp"

const links = [
  { href: "/about", text: "About" },
  { href: "/coaching", text: "Coaching" },
  { href: "/Testimonials", text: "Testimonials" },
  { href: "/team", text: "Team" },
  { href: "/contact", text: "Contact" },
]
---

<nav class="flex container py-4 items-center justify-between">
  <a href="/" class="flex items-center">
    <Image src={logo} alt="Logo" class="w-36" />
  </a>
  <div class="flex gap-8 items-center">
    {
      links.map((link) => (
        <a href={link.href} class="text-text text-sm">
          {link.text}
        </a>
      ))
    }
    <a href="/login" class={cn(buttonVariants({ variant: "accent" }))}
      >Register Now</a
    >
  </div>
</nav>
