---
import { cn } from "@/lib/utils";
import { buttonVariants } from "./ui/button";
import { Image } from "astro:assets";
import logo from "@/assets/restore.webp";
import { links } from "@/lib/constants";
import BurgerMenu from "./BurgerMenu";
import RegisterDialog from "./RegisterDialog";
---

<div class="fixed left-0 right-0 top-0 z-50 bg-white shadow-md">
  <nav
    class="container flex h-[var(--header-height)] items-center justify-between py-3 md:py-4"
  >
    <a href="/" class="flex h-full items-center">
      <Image src={logo} alt="Logo" class="h-full w-fit object-contain" />
    </a>
    <BurgerMenu client:only="react" />
    <div class="hidden items-center gap-8 md:flex">
      {
        links.map((link) => (
          <a href={link.href} class="text-sm text-text">
            {link.text}
          </a>
        ))
      }
      <RegisterDialog
        client:only="react"
        triggerClassname={cn(buttonVariants({ variant: "accent" }), "border-0")}
      />
    </div>
  </nav>
</div>
