---
import { Image } from "astro:assets"
import WavesPattern from "@/assets/waves-pattern.png"
import AcademicCapIcon from "@/assets/academic-cap.svg"
import BriefcaseIcon from "@/assets/briefcase.svg"
import FormIcon from "@/assets/form.svg"
import { cn } from "@/lib/utils"
import ModuleBackground from "./ModuleBackground.astro"
import Link from "./Link.astro"
---

<ModuleBackground
  wrapperClassName="px-20"
  className="flex flex-col justify-center items-center w-full"
>
  <h2 class="text-primary-foreground text-center">
    Ready to <br /><span
      class="font-secondary marker-underline after:bg-highlight-dark"
      >Make a Difference?</span
    >
  </h2>
  <p class="max-w-[600px] text-secondary leading-relaxed pt-6 text-center">
    Join our next training session to become a lifestyle coach. Gain skills to
    transform lives through holistic health ministry. Start your journey today
    and make a meaningful impact.
  </p>
  <Link
    href="/"
    asButton={{ variant: "accent-primary-outline" }}
    className="mt-8 min-w-40">Register Now</Link
  >
</ModuleBackground>
