---
import { cn } from "@/lib/utils";
import ModuleBackground from "./ModuleBackground.astro";
import RegisterDialog from "./RegisterDialog";
import { buttonVariants } from "./ui/button";
---

<ModuleBackground
  wrapperClassName="lg:px-20"
  className="flex w-full flex-col items-center justify-center"
>
  <h2 class="text-center text-primary-foreground">
    Ready to <br /><span
      class="marker-underline font-secondary after:bg-highlight-dark"
      >Make a Difference?</span
    >
  </h2>
  <p class="max-w-[600px] pt-6 text-center leading-relaxed text-secondary">
    Join our next training session to become a lifestyle coach. Gain skills to
    transform lives through holistic health ministry. Start your journey today
    and make a meaningful impact.
  </p>
  <RegisterDialog
    client:only="react"
    triggerClassname={cn(
      buttonVariants({ variant: "accent-primary-outline" }),
      " mt-8 min-w-40",
    )}
  />
</ModuleBackground>
