---
import { Image } from "astro:assets";
import WavesPattern from "@/assets/waves-pattern.png";
import { cn } from "@/lib/utils";

interface Props {
  className?: string;
  wrapperClassName?: string;
}

const { className, wrapperClassName } = Astro.props;
---

<div class={cn("container module-m flex flex-col items-center justify-center")}>
  <div class={cn("w-full", wrapperClassName)}>
    <div class="relative overflow-hidden rounded-3xl">
      <Image
        src={WavesPattern}
        alt="banner"
        class="absolute top-0 size-full object-cover"
      />
      <div class={cn("relative z-10 p-10 md:p-14 lg:p-20", className)}>
        <slot />
      </div>
    </div>
  </div>
</div>
